.modal {
  position: fixed;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 74%;
  height: 200px;
  left: 13%;
  top: 40%;
}

.modal-button {
  width: 100px;
  height: 50px;
}

.modal-animation-enter-active {
  animation: openModal 0.3s ease-out forwards;
}

.modal-animation-exit-active {
  animation: closeModal 0.3s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }
  25% {
    opacity: 1;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(-50%);
  }
  75% {
    opacity: 1;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  25% {
    opacity: 1;
    transform: translateY(10%);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-25%);
  }
  75% {
    opacity: 0.5;
    transform: translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-70%);
  }
}
