.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.persons-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: 30px;
}

.person {
  width: 150px;
  height: 30px;
  background-color: sandybrown;
  border: 1px solid black;
  border-radius: 7px;
}
