.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.modal-button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 7px;
  border: 2px solid black;
}

.modal-message {
  color: black;
}

.message-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
